* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}

.row {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 230px;
    height: 46vh;
    background-color: #fff;
    box-shadow: 1px -2px 50px -14px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    position: relative;
    background: url("download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-contant {
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    visibility: hidden;
    transition: all .3s linear;
    opacity: 0;

}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-heading {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-heading h1 {
    font-size: 30px;
    text-align: center;
}

.card-btn {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-btn button {
    padding-left: 30px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-top: 5px;
    border: none;
}

.card:hover .card-contant {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.card::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(196, 21, 21);
    border-radius: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .3s linear;
}

.card:hover::before {
    transform: translateY(0);
    opacity: 1;
}



video{
    transform: scale(-1,1);
}